<div class="container">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">

      <% qpons.forEach( function(qpon) { %>

          <tr><td><%= qpon.title %></td><td><%= qpon.restaurant %></td><td><a href="/qpon/update/<%= qpon.id %>">Update</a></td></tr>

      <% }); %>

  </table>
</div>
